
*{
 box-sizing: border-box;
 margin:0px;
 padding:0px;
}

img {
    align-items: center;
    margin-left: 250px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
}
.container {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}
.col, body {
    font-size: 1rem;
}
li{
    padding: 20px;
    margin-right:20px !important;
}
.item{
    padding:10px;
}
.mine{
    margin-right: 300px;
}
.img12{

  margin:0 px;
    padding-right:70px !important;
}